
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
h1{
    font-family: 'Lobster';
    font-size: 5rem;
    color: #063069;
    text-shadow: 5px 5px 2px #0678A6;
}
h2{
    font-family:'Alkatra';
    font-size: 3.5rem;
    color: #063069;
}
#developer{
    text-decoration: underline;
}
header{
    background-color: #28B1E0;
    padding-top: 20px;
    position: relative;
}
#cloud-top{
    position: absolute;
    right: 150px;
    top: 100px;
}
#cloud-bottom{
    position: absolute;
    bottom: 250px;
    left: 200px;
}
main{
    margin: 100px 0;
}
#profile-pic{
    width: 175px;
    height: 175px;
}
.paragraph{
    width: 30%;
    margin: auto;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skills-rows{
    width: 50%;
    margin: 100px auto;
}
